.cell {
  box-sizing: border-box;
	height: 100%;
	padding: 1rem;
  align-items: center;
  display: flex;
}

.rank {
  @extend .cell;
  width: 12%;
}

.user {
  @extend .cell;
  flex-grow: 1;
  position: relative;
}

.thirty {
  @extend .cell;
  width: 25%;
}

.alltime {
  @extend .cell;
  width: 25%;
}
