$imgSize: 2rem;

.username {
  margin-left: $imgSize + 0.5rem;
}

.img {
	border: 1px solid #cccccf;
  border-radius: 2px;
  bottom: 0;
  height: $imgSize;
  margin: auto;
  position: absolute;
  top: 0;
}
