$photoSize: 2rem;

.user {
  margin-left: $photoSize + 0.5rem;
}

.picture {
	border: 1px solid #cccccf;
  border-radius: 2px;
  bottom: 0;
  height: $photoSize;
  margin: auto;
  position: absolute;
  top: 0;
}
