.top {
	align-items: center;
	background: #33333a;
	color: #eef;
	display: flex;
	font-size: 0.75rem;
	height: 4rem;
	width: 100%;
}

.sort {
	cursor: pointer;
	height: 100%;
	&:hover {
		background: #55555a;
	}
}

.active-sort {
	@extend .sort;
	background: #55555a;
}
